# env
.venv
.venv-deploy/
# setting | config
.vscode
.idea
.agents/
.claude/
.streamlit
# ppt | PDF -> keep it
PDFs
presentations
*.pdf
# test
test
# task
task

__pycache__


projects/used_car_price/data/

